# Python
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Node
node_modules/
package-lock.json

# SQLite
*.db-shm
*.db-wal

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media
media/
backend/uploads/

# Personal files
Screenshot *.png
*.pdf
img.png
